@import "../variables";

:host {
  .toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    height: $navbar-height;
  
    .userButton {
      background-color: transparent;
      border-radius: 50%;
      overflow: hidden;
      background-color: $off-white;
    
      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;

        &.default {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}