<div class="completeButtonWrapper">
  <button
    class="completeButton"
    [ngStyle]="{
      'border-color': listColor,
      'background-image':
        'radial-gradient(farthest-side, ' + listColor + ' 94%, #0000)'
    }"
    [@fillCircleAnimation]="reminderAnimationState"
    (click)="toggleReminder()"
  ></button>
</div>

<div
  class="info"
  [ngClass]="{ completed: reminderAnimationState === 'completed' }"
>
  <h1 class="info-title">
    {{ reminder.title }}
    <div class="bar" [@crossTextAnimation]="reminderAnimationState"></div>
  </h1>
  <p class="info-desc">{{ reminder.description }}</p>
  <p
    class="info-date"
    *ngIf="reminder.dueDate"
    [ngClass]="{ pastDate: overdueDate }"
  >
    {{ reminder.dueDate.seconds * 1000 | date : "MMM d, y, H:mm" }}
  </p>
</div>

<button
  mat-icon-button
  aria-label="Reminder info button"
  (click)="openReminderInfo()"
>
  <mat-icon [ngStyle]="{ color: listColor }">info</mat-icon>
</button>
