:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  #signIn {
    padding: 2rem 2rem;
    border-radius: 1rem;
    
    background-color: lightgray;

    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
      }
    }
  }
} 