$primary: #3F51B5;
$accent: #FF4886;
$green: #4CE0B3;
$jet: #343434;
$battleship-gray: #999999;
$silver: #cccccc;
$off-white: #FAF9F6;
$crimson: #D0253C;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

$avatar-size: 50px;
$navbar-height: 4.5rem;
$dialog-margin: 2rem;
$dialog-md-min-width: 400px;
$dialog-lg-min-width: 450px;