<div class="panel" [@openClose]="animationState">
  <div class="listOverview" *ngIf="selectedList">
    <div class="listNameWrapper">
      <button
        class="backArrow"
        mat-icon-button
        aria-label="Arrow back icon"
        type="button"
        (click)="handleBackArrowClick()"
      >
        <mat-icon [ngStyle]="{ color: selectedList.color }"
          >arrow_back_ios</mat-icon
        >
      </button>
      <h1
        [ngStyle]="{
          color: selectedList.color
        }"
      >
        {{ selectedList.name }}
      </h1>
    </div>
    <button
      mat-icon-button
      type="button"
      [matMenuTriggerFor]="optionsMenu"
      aria-label="Icon button with a vertical three dot icon"
    >
      <mat-icon [ngStyle]="{ color: selectedList.color }">more_horiz</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <button
        mat-menu-item
        type="button"
        (click)="handleEditListInfoClick(selectedList)"
      >
        <mat-icon fontIcon="info" />Edit List Info
      </button>
      <button mat-menu-item type="button" (click)="handleShowCompletedToggle()">
        <mat-icon
          [fontIcon]="completedRemindersShown ? 'visibility_off' : 'visibility'"
        />{{ completedRemindersShown ? "Hide Completed" : "Show Completed" }}
      </button>
      <button
        mat-menu-item
        type="button"
        (click)="handleDeleteClick(selectedList.id)"
      >
        <mat-icon fontIcon="delete" color="warn" />Delete List
      </button>
    </mat-menu>
  </div>

  <app-reminder
    *ngFor="let reminder of getShownReminders()"
    [reminder]="reminder"
    [listColor]="selectedList?.color"
  ></app-reminder>

  <div class="messageWrapper" *ngIf="listHasNoReminders()">
    <p>No reminders in the selected list</p>
  </div>

  <div class="messageWrapper" *ngIf="!selectedList">
    <p>No list selected</p>
  </div>
</div>
