<div class="listOverview" *ngIf="selectedList">
  <h1
    [ngStyle]="{
      color: selectedList.color
    }"
  >
    {{ selectedList.name }}
  </h1>
  <button
    mat-icon-button
    type="button"
    [matMenuTriggerFor]="optionsMenu"
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon [ngStyle]="{ color: selectedList.color }">more_horiz</mat-icon>
  </button>
  <mat-menu #optionsMenu="matMenu">
    <button
      mat-menu-item
      type="button"
      (click)="handleEditListInfoClick(selectedList)"
    >
      <mat-icon fontIcon="info" />Edit List Info
    </button>
    <button mat-menu-item type="button" (click)="handleShowCompletedToggle()">
      <mat-icon
        [fontIcon]="completedRemindersShown ? 'visibility_off' : 'visibility'"
      />{{ completedRemindersShown ? "Hide Completed" : "Show Completed" }}
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="handleDeleteClick(selectedList.id)"
    >
      <mat-icon fontIcon="delete" />Delete List
    </button>
  </mat-menu>
</div>

<app-reminder
  *ngFor="let reminder of getSelectedListReminders()"
  [reminder]="reminder"
  [listColor]="selectedList?.color"
></app-reminder>

<div *ngIf="listHasNoReminders()">
  <p>No reminders for the selected list.</p>
</div>

<div *ngIf="!selectedList">
  <p>No list selected</p>
</div>
