<h2 mat-dialog-title>Edit List</h2>
<div
  class="listPreview"
  [ngStyle]="{ 'background-color': editListFormGroup.value.color }"
>
  <mat-icon
    aria-hidden="false"
    aria-label="Selected icon preview"
    [fontIcon]="delayedIcon"
    [@iconChange]="iconAnimationState"
  ></mat-icon>
</div>
<mat-dialog-content class="content">
  <form [formGroup]="editListFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>List Name</mat-label>
      <input matInput formControlName="name" autocomplete="off" required />
      <mat-error *ngIf="editListFormGroup.get('name')?.hasError('required')">
        List name is required
      </mat-error>
    </mat-form-field>

    <div class="colorSelection">
      <h3>Color:</h3>
      <div class="colorOptions">
        <button
          class="colorButton"
          mat-fab
          *ngFor="let color of options.colors"
          [ngStyle]="{ backgroundColor: color }"
          [ngClass]="{
            selected: color === editListFormGroup.get('color')?.value
          }"
          (click)="handleColorSelect(color)"
        ></button>
      </div>
    </div>

    <div class="iconSelection">
      <h3>Icon:</h3>
      <div class="iconOptions">
        <button
          class="iconButton"
          mat-fab
          *ngFor="let icon of options.icons"
          [ngClass]="{
            selected: icon === editListFormGroup.get('icon')?.value
          }"
          (click)="handleIconSelect(icon)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="List icon option"
            [fontIcon]="icon"
          ></mat-icon>
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-button type="button" (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    type="submit"
    color="primary"
    [disabled]="editListFormGroup.invalid"
    (click)="onSubmit()"
  >
    Save
  </button>
</mat-dialog-actions>
