<mat-card
  class="listCard"
  [appHighlight]="list.id === (selectedList$ | async)?.id"
  [appColor]="list.color"
  (click)="handleListSelect()"
>
  <div
    class="iconWrapper"
    [matBadge]="uncompletedReminders$ | async"
    [matBadgeHidden]="(uncompletedReminders$ | async) === 0"
    matBadgeColor="warn"
    matBadgeSize="medium"
    [ngStyle]="{
      'background-color': list.color,
      'border-color': list.color
    }"
  >
    <mat-icon [fontIcon]="list.icon"></mat-icon>
  </div>
  <h1>{{ list.name }}</h1>
</mat-card>
