@import "../variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    .field {
      width: 100%;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}