<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <p>Please re-enter your credentials to proceed with this action.</p>
  <form [formGroup]="credentialsFormGroup">
    <mat-form-field class="field">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" autocomplete="off" />
      <mat-error
        *ngIf="credentialsFormGroup.get('email')?.hasError('required')"
      >
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        autocomplete="off"
      />
      <mat-error
        *ngIf="credentialsFormGroup.get('password')?.hasError('required')"
      >
        Password is required
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button type="button" [mat-dialog-close]="null">
    Cancel
  </button>
  <button
    mat-flat-button
    type="button"
    color="warn"
    [mat-dialog-close]="{
      email: this.credentialsFormGroup.get('email')?.value,
      password: this.credentialsFormGroup.get('password')?.value
    }"
    [disabled]="
      !this.credentialsFormGroup.get('email')?.value ||
      !this.credentialsFormGroup.get('password')?.value
    "
  >
    Submit
  </button>
</div>
