<div id="signUp">
  <h1 class="mat-h1 mat-primary" color="primary">Sign Up</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="signUpFormGroup">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" />
      <mat-icon
        matPrefix
        aria-hidden="false"
        aria-label="Person icon"
        fontIcon="person"
      ></mat-icon>
      <mat-error
        *ngIf="
          signUpFormGroup.get('username')?.hasError('required');
          else minlengthError
        "
      >
        Username is required
      </mat-error>
      <ng-template #minlengthError>
        <mat-error
          *ngIf="
            signUpFormGroup.get('username')?.hasError('minlength');
            else maxlengthError
          "
        >
          Username must be at least 3 characters long
        </mat-error>
      </ng-template>
      <ng-template #maxlengthError>
        <mat-error
          *ngIf="
            signUpFormGroup.get('username')?.hasError('maxlength');
            else patternError
          "
        >
          Username cannot exceed 20 characters
        </mat-error>
      </ng-template>
      <ng-template #patternError>
        <mat-error *ngIf="signUpFormGroup.get('username')?.hasError('pattern')">
          Username can only contain alphanumeric characters
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="example@example.com"
      />
      <mat-icon
        matPrefix
        aria-hidden="false"
        aria-label="Mail icon"
        fontIcon="mail"
      ></mat-icon>
      <mat-error *ngIf="signUpFormGroup.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="signUpFormGroup.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-icon
        matPrefix
        aria-hidden="false"
        aria-label="Lock icon"
        fontIcon="lock"
      ></mat-icon>
      <mat-error *ngIf="signUpFormGroup.get('password')?.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="signUpFormGroup.get('password')?.hasError('minlength')"
        >Password must be at least 8 characters long</mat-error
      >
      <mat-error
        *ngIf="
          signUpFormGroup.get('password')?.hasError('pattern') &&
          !signUpFormGroup.get('password')?.hasError('minlength')
        "
        >Password must contain at least one letter and one digit</mat-error
      >
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        placeholder="confirm password"
      />
      <mat-icon
        matPrefix
        aria-hidden="false"
        aria-label="Lock icon"
        fontIcon="lock"
      ></mat-icon>
      <mat-error
        *ngIf="
          signUpFormGroup.get('confirmPassword')?.hasError('passwordsNotMatch')
        "
        >Passwords do not match.</mat-error
      >
    </mat-form-field>

    <div class="actions" mat-dialog-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="signUpFormGroup.invalid"
      >
        Sign Up
      </button>
      <p>Have an account? <a [routerLink]="['/sign-in']">Sign In</a></p>
    </div>
  </form>
</div>
