<div id="homePage">
  <mat-toolbar color="primary">
    <button mat-fab [matMenuTriggerFor]="addMenu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #addMenu="matMenu">
      <button mat-menu-item (click)="openAddListDialog()">Add a list</button>
      <button mat-menu-item (click)="openAddReminderDialog()">
        Add a reminder
      </button>
    </mat-menu>
  </mat-toolbar>

  <div
    class="spinnerWrapper"
    *ngIf="isLoading.lists || isLoading.reminders; else containersData"
  >
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #containersData>
    <div class="containers">
      <app-list-panel
        [userLists]="userLists"
        [selectedList]="selectedList"
        (listSelect)="changeSelectedList($event)"
      />
      <app-selected-list-panel
        [userReminders]="userReminders"
        [selectedList]="selectedList"
      />
    </div>
  </ng-template>
</div>
