<h2 mat-dialog-title>Add New List</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="List Name"
        [formControl]="listNameFormControl"
        required
      />
      <mat-error *ngIf="listNameFormControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="description"
        placeholder="Description"
        [(ngModel)]="listDescription"
      ></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button
        mat-button
        type="submit"
        color="primary"
        [disabled]="listNameFormControl.invalid"
      >
        Add List
      </button>
    </div>
  </form>
</mat-dialog-content>
